<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Tiny App
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li>
            <% if (username) { %>
                Welcome, <%= username %>
            <% } else { %>
                <form action="/login" method="POST">
                    <input id="userID" type="text" name="username" placeholder="input username" style="width: 150px">
                    <input type="submit" value="login">
                </form>
            <% } %>
            </li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/urls">List of URLs</a></li>
            <li><a href="/urls/new">Create shorten URL</a></li>

        </ul>

    </div>
</nav>