<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>List of URLs</h1>
            <ul>
                <% for (let urlDatabase in urls) { %>
                    <li><%= `${urlDatabase} - ${urls[urlDatabase]}` %>
                        <form method="POST" action="/urls/<%= urlDatabase%>/delete">
                            <input type="submit" value="delete">
                        </form>
                    </li>
                <% }; %>
            </ul>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>