<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>List of URLs</h1>
            <ul>
            <% if (user) { %>
                <li><a href="/urls/new">Create shorten URL</a></li>
                <% for (let urlDatabase in urls) { %>
                    <li><%= `${urls[urlDatabase].id} - ${urls[urlDatabase].longURL}` %>
                        <a href="/urls/<%= urls[urlDatabase].id %>"> EDIT </a>
                        <form method="POST" action="/urls/<%= urls[urlDatabase].id%>/delete">
                            <input type="submit" value="delete">
                        </form>
                    </li>
                <% }; %>
            <% }; %>
            </ul>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>

